.container{
    margin: 1 auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
}

.resto-card{
    background-color: whitesmoke;
    overflow: hidden;
    box-shadow: 2px 4px 5px gray;
    border-radius: 5px;
}

.resto-card img{
    width: 100%;
    /* height: 20vh; */
}
.resto-card div{
    padding-left: 10px;
    padding-right: 10px;
}

.resto-title{
    font-weight: bold;
}

.resto-price, .resto-category {
    display: inline-block;
}

.more-btn{
    bottom: 0;
    background-color: navy;
    color: white;
    margin-top: 1rem;
    padding: .5rem;
    border: none;
    width: 100%;
    border-radius:0%;
}

.btn-cont{
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}